@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 2000px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}
/* -----nav---------------------------------------------------------------- */
.nav {
    position: fixed;
    display:flex;
    padding:0px 12px;
    top:0;
    left:0;
    width: 100%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid rgba(0, 0, 0, 0.8);
    border-bottom:1px solid rgba(0, 0, 0, 0.8);
    z-index: 10;
    background:#fff;
}

.nav .title {
    position: relative;
    display:flex;
    align-items: center;
    font-weight: 700;
    font-size: 32px
}

.nav .list {
    display:flex;
    align-items:center; 
    justify-content: space-around;
    min-width: 500px;
    line-height: 100%;
    margin-right:3%;
}

.nav a{
    color:#000;
    display: block;
    line-height: 50px;
    padding:0px 15px;
    transition: 0.5s;
}

.nav a:hover {
    color:#fff;
    background:#ADAAA5;
}



.nav #nav-btn {
    position: absolute;
    right:7%;
}



/* ----nav______RWD---------------------------------------------- */
@media screen and (max-width:800px) {

    .nav .list {
        display:none;
    }

    .nav.active .list {
        position: absolute;
        top:49px;
        left:0px;
        background-color:#fff;
        display:flex;
        width:100%;
        flex-direction: column;
        min-width: 200px;
        transition: 0.5s;
        z-index:10;
    }
    
    .nav.active .list li {
        width: 100%;
        border-bottom: 1px solid #000;
    }

    .nav.active .list a {
        padding: 3px 0px;
        text-align: center;
    }

    .nav #nav-btn::after {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: "\f0c9";
        cursor: pointer;
        font-size:24px;
        
    }
    
    .nav.active #nav-btn::after {
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        font-size:28px;
        content: "\f00d";
        cursor: pointer;
        
    }
}

/* ----header------------------------------------------------------------------ */

header {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin:50px 0px;
    width: 100%;
    flex-wrap: wrap;
}

/* brief-intro Part----------------------------------------------- */
header .brief-intro {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

header .brief-intro .img {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
header .brief-intro .img .selfie {
    width: 300px;
    height: 300px;
}

header .brief-intro .img .selfie img {
    width: 100%;
    height: 100%;
    padding:6px;
    background:#ADAAA5;
    object-fit: cover;
    border-radius: 50%;
}

header .brief-intro .img .link-icon {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 240px;
}

header .brief-intro .img .link-icon li {
    box-sizing:content-box;
    width: 35px;
    height: 35px;
    background:#000;
    text-align: center;
    border-radius: 50%;
    border:2px solid #ADAAA5;
    
}

header .brief-intro .img .link-icon li:hover {
    background: #ADAAA5;
    transform: scale(1.1);
    transition: 0.4s;
}

header .brief-intro .img .link-icon li a {
    display:block;
    width: 100%;
    height: 100%;
    line-height: 33px;
}

header .brief-intro .img .link-icon li:nth-child(1),
header .brief-intro .img .link-icon li:nth-child(5) {
    position: relative;
    top:-55px;
}

header .brief-intro .img .link-icon li:nth-child(even) {
    position: relative;
    top:-25px;
}

header .brief-intro .img .link-icon li:nth-child(3) {
    position: relative;
    top:-15px;
}

header .brief-intro .img .link-icon li i {
    font-size: 15px;
    color:#fff;
    
}

header .brief-intro .info {
    text-align: center;
}


/* RWD----------------------------------------- */
@media screen and (max-width:800px) {
    header .brief-intro {
        flex-direction: row;
    }

    header .brief-intro .img {
        width:60%;
        margin:0px 6px;
    }

    header .brief-intro .img .selfie {
        width: 170px;
        height: 170px;
    }

    header .brief-intro .img .link-icon {
        width: 180px;
    }

    header .brief-intro .img .link-icon li {
        width: 33px;
        height: 33px;
    }

    header .brief-intro .img .link-icon li:nth-child(1),
    header .brief-intro .img .link-icon li:nth-child(5) {
        position: relative;
        top:-50px;
    }

    header .brief-intro .img .link-icon li:nth-child(even) {
        position: relative;
        top:-27px;
    }

    header .brief-intro .img .link-icon li:nth-child(3) {
        position: relative;
        top:-15px;
    }   
    
    header .brief-intro .img .link-icon li a {
        line-height: 30px;
        -webkit-line-height: 33px;
    }
}

/* Complete-intro Part------------------------------------ */

header .complete-intro {
    width: 300px;
    height: 300px;
}